@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;400;500;700;900&display=swap');

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/

/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
*/
* {
	font-family: 'Montserrat', sans-serif;
}

.container {
	margin: 0 auto;
	max-width: 1140px;
	width: 100%;
	padding: 0 15px;
}

.d-none-f {
	display: none;
}

.block-for-h {
	display: block;
}

.header__up_new {
	background-color: #178dff;
}

.header-for_bg {
	background-color: #fff;
}

.header-style-one .upper-row .info .info-block {
	position: relative;
	float: left;
	padding-left: 40px;
	margin-left: 30px;
}

.info-block__text {
	font-size: 13px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}

.info-text a {
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	transition: .3s ease all;
	text-decoration: none;
	border: none;
}

.info-text p {
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
}

.info-text a:hover {
	text-decoration: none;
	font-weight: 500;
	border: none;
}

.for__icon_info {
	color: #178dff;
	/* background: #178dff; */
	margin-top: 5px;
	font-size: 30px;
}

.header__nav_bottom {
	padding: 0 85px;
	background-color: rgba(33, 33, 45, 1);
}

.nav-box {
	background-color: black;
}

.header-style-one .lower-row .nav-box {
	background-color: rgba(33, 33, 45, 1);
}

.main-header .header-top .top-right {
	display: flex;
	align-items: center;
}

.header__logo {
	margin: auto;
	margin-left: 5px;
	color: #178dff;
	font-size: 25px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

.header__logo_footer {
	margin: 25px 0 0 8px;
	color: #178dff;
	font-size: 26px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}

.sticky-header .main-menu .navigation > li.current > a {
	color: #178dff;
}

.header-style-one .upper-row {
	position: relative;
	display: block;
	padding: 20px 0px;
	background: #ffffff;
}

.main-menu .navigation > li > a {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 16px;
}

.main-menu .navigation > li > ul > li > a {
	font-family: 'Montserrat', sans-serif;
}

.main-menu .navigation > li {
	margin-right: 15px;
}

.header-style-one .lower-row .nav-box {
	padding: 0;
}


.navba_search {
	margin-right: 5px;
	background: rgba(33, 33, 45, 1);
	border: unset;
	color: #777;
	height: 40px;
	line-height: 40;
	font-size: 18px;
	outline: none;
}

.main-menu .navigation > li:after {
	content: none;
}

.header-style-one .nav-box .search-btn {
	background: url(none);
}

.fa-pinterest-p {
	display: none;
}

.fa-linkedin-in {
	display: none;
}

.fixed-header .sticky-header .logo {
	padding: 0;
}

.main__content_title {
	margin-bottom: 40px;
	margin-top: 200px;
	margin-left: 44%;
}

.main__content_description {
	font-size: 37px;
	text-transform: uppercase;
	font-weight: 800;
	color: #1c74ff;
	font-family: 'Montserrat', sans-serif;
}

.sec-title h2 {
	font-size: 30px;
}


/* ========================burger-mune ===============================*/

.burger-content {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	height: 100vh;
	width: 30%;
	transition: .5s ease all;
	left: -100%;
}

.burger_card_active {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	height: 100vh;
	width: 30%;
	transition: .5s ease all;
	left: 0;
}

.burger-menu {
	width: 100%;
	height: 100%;
	background-color: #222222;
}

.burger-menu_up {
	padding: 25px 15px;
	display: flex;
	justify-content: space-between;
}

.burger-mune_text {
	color: #fff;
	font-size: 18px;
	font-family: 'Roboto Condensed', sans-serif;
	border-bottom: 1px solid #fff;

}

.burger-menu_rem {
	margin-top: 10px;
	margin-right: 30px;
}

.burger-menu_rem::before {
	content: '';
	position: absolute;
	width: 25px;
	height: 2px;
	background-color: #fff;
	transform: rotate(45deg);
}

.burger-menu_rem::after {
	content: '';
	position: absolute;
	width: 25px;
	height: 2px;
	background-color: #fff;
	transform: rotate(-45deg);
}

/* =========================================== */

/* ===============dropdown============= */
/* .dropleft ul{
display: block;

visibility: visible;
padding: 15px;
opacity: 1;
} */
/* .dropleft ul > li{
letter-spacing: normal;
border-bottom: 1px solid black;
font-size: 16px;
margin-bottom: 10px;
} */
.main-menu .navigation > li > ul, .main-menu .navigation > li > ul > li:hover > ul {
	visibility: visible;
	opacity: 1;
	font-family: 'Montserrat', sans-serif;
}

.main-menu .navigation > li > ul, .main-menu .navigation > li > ul > li > ul {
	visibility: hidden;
	opacity: 0;
	font-family: 'Montserrat', sans-serif;
}

.main-menu .navigation > li > ul, .main-menu .navigation > li > ul > li > ul > li:hover > ul {
	visibility: visible;
	opacity: 1;
	font-family: 'Montserrat', sans-serif;
}

.main-menu .navigation > li > ul, .main-menu .navigation > li > ul > li > ul > li > ul {
	display: block !important;
	visibility: hidden;
	opacity: 0;
	font-family: 'Montserrat', sans-serif;

}

.main-menu .navigation > li > ul > li > ul > li > ul {
	position: absolute;
	left: 100%;
	top: 0;
	width: 250px;
	z-index: 100;
	display: none;
	background: #ffffff;
	border-top: 2px solid #333333;
	transition: all 500ms ease;
	-moz-transition: all 100ms ease;
	-webkit-transition: all 100ms ease;
	-ms-transition: all 100ms ease;
	-o-transition: all 100ms ease;
	-webkit-box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 5%), -2px 0px 5px 1px rgb(0 0 0 / 5%);
	-ms-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	-o-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.05), -2px 0px 5px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 5%), -2px 0px 5px 1px rgb(0 0 0 / 5%);
}

.main-menu .navigation > li > ul > li > ul > li > ul > li > a:hover {
	background-color: #f0f0f0;
	padding-left: 26px;
}

.main-menu .navigation > li > ul > li > ul > li > ul > li {
	position: relative;
	width: 100%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}

/* .for__nav_bar .navigation > li > ul > li > ul > li > ul {
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.10);
    left: -100%;
} */


.sticky-header .for__nav_bar .navigation > li > ul > li > ul > li > ul {
	left: auto;
	left: -100%;
}

.main-menu .navigation > li > ul > li > ul > li > ul > li > a {
	position: relative;
	display: block;
	padding: 11px 20px;
	line-height: 24px;
	font-weight: 500;
	font-size: 16px;
	color: #242424;
	text-align: left;
	text-transform: capitalize;
	transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
}

/* .main-menu .navigation > li > ul > li > ul > li.dropdown > a:after{
	font-family: 'Font Awesome 5 Free';
	content: "\f105";
	position:absolute;
	right:16px;
	top:11px;
	display:block;
	line-height:24px;
	font-size:16px;
	font-weight:900;
	z-index:5;
}

.main-menu .navigation > li.dropdown:hover > ul{
	visibility:visible;
	opacity:1;
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
}

.main-menu .navigation li > ul > li.dropdown:hover > ul{
	visibility:visible;
	opacity:1;
	transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
} */
/* =============== */


/* ==============shop cart=========================== */
.search__btn_card {
	position: relative;
}

.search__btn_desc {

	position: absolute;
	left: 95%;
	bottom: 2%;

}

.search__btn_desc p {
	display: block;
	color: #178dff;
	font-weight: 600;
	z-index: 100;
	opacity: 2;
	width: 20px;
	height: 20px;
}

.search__btn_desc p::before {
	content: attr(data-attr);
	position: absolute;
	top: 0;
	right: 20%;
	height: 20px;
	width: 20px;
	background-color: #fff;
	border-radius: 50%;
	z-index: 1;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.search__second_desc {

	position: absolute;
	left: 95%;
	bottom: 2%;

}

.search__second_desc p {
	display: block;
	color: #ffffff;
	font-weight: 900;
	z-index: 100;
	opacity: 2;
	width: 20px;
	height: 20px;
}

.search__second_desc p::before {
	content: attr(data-attr);
	position: absolute;
	top: 0;
	right: 20%;
	height: 20px;
	width: 20px;
	background-color: #2b2b2b;
	border-radius: 50%;
	z-index: 1;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
}

.search__btn_card > i {
	color: #178dff;
	margin: 8px 0 0 30px;
	transition: .4s ease all;
	font-size: 25px;
	position: relative;
}

.search__btn_card i:hover {
	color: #fff;
	transform: scale(1.1);
}

.search__card_second i {
	color: #178dff;
	transition: .4s ease all;
	font-size: 25px;
}

.search__card_second {
	position: relative;
}

.search__card_second i:hover {
	color: #222222;
	transform: scale(1.1);
}

.search__btn_third {
	margin-left: 200px;
	position: absolute;
	right: 15px;
	top: 27px;
	font-size: 18px;
}

.search__card_third i {
	color: #178dff;
	transition: .4s ease all;
}

.search__card_third i:hover {
	color: #222222;
	transform: scale(1.1);
}

.header-style-one .upper-row .right-info {
	display: flex;
	align-items: center;
	column-gap: 20px;
}

/* =========change============= */
.pull-right {
	float: unset;
}

.search__btn_third {
	margin-left: 0;
	position: absolute;
	right: 45px;
	top: 22px;
	font-size: 24px;
	color: #178dff;
}

/* ============ */


/* ================shop-cart================= */

.cart-summary {
	/* width: 20%; */
	position: relative;
	margin-bottom: 3.6rem;
	padding: 1rem .7rem 1rem;
	border: 2px solid #e7e7e7;
	background: #fff;
	margin-top: 60px;
}

.cart-summary h3 {
	margin-bottom: 1rem;
	text-align: center;
	font-size: 1.6rem;
	letter-spacing: -0.01em;
}

.table.table-totals {
	margin-bottom: 1rem;
}

.table.table-totals > tbody > tr > td > h5 {
	font-size: 15px;
	font-weight: 600;
}

.table.table-totals > tfoot > tr > td > h5 {
	font-size: 15px;
	font-weight: 600;
}

.table {
	width: 100%;
	margin-bottom: 1rem;
	background-color: transparent;
	border-collapse: collapse;
}

.table.table-totals tfoot {
	border-top: 1px solid #ccc;
	color: #222529;
	font-size: 2.6rem;
	font-weight: 700;
}

.checkout-methods a {
	font-size: 17px;
}

.news-block .inner-box .post-date_new {
	position: absolute;
	right: 13px;
	bottom: 17px;
	width: 45px;
	height: 45px;
	line-height: 24px;
	text-align: center;
	padding: 12px 5px;
	background: #ffffff;
	border-radius: 50%;
	z-index: 1;
}

.rem__in_cart {
	display: flex;
	column-gap: 15px;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	color: #178dff;
	margin: 3px 0 0 0;
	transition: .4s ease all;
	cursor: pointer;
}

.rem__in_cart i {
	color: red;
}

/* =========== */
.page-title {
	padding: 25px 0;
	margin: 0 auto;
	text-align: center;
	margin-top: 250px;
}

.page-title_desc {
	font-size: 50px;
	font-weight: 800;
	color: #178dff;
	font-family: 'Roboto Condensed', sans-serif;

}

@media (max-width: 991px) {
	.page-title {
		margin-top: 10px;
	}
}

/* ====================team================= */
.team-content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 20px 0 50px 0;
	text-align: start;
}

.team-block {
	padding: 0 0px;
	position: relative;
	box-shadow: 0px 0px 0px 1px rgba(34, 60, 80, 0.12);
	flex-wrap: wrap;
}

.team-content_block {
	height: 350px;
	text-align: left;
	position: relative;
}

.team-content_img {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 70%;
}

.team-content_img img {
	width: 100%;
	height: 100%;
}

.team-content_bottom {
	padding: 15px;
}

.team-content_bottom p {
	font-size: 13px;
	line-height: 16px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	color: #999;
	margin-bottom: 10px;
}

.team-content_bottom h5 {
	color: #333;
	font-size: 23px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
}

.team-content_box {
	transition: .4s ease all;
	transform: scaleY(0);
	top: 35%;
	z-index: 10;
	position: absolute;
	background-color: #fff;
	padding: 45px 25px 0;
	width: 100%;
}

.team-block:hover .team-content_box {
	transform: scaleY(1);
	top: 25%;
}

.team-box_title {
	font-size: 11px;
	line-height: 14px;
	text-transform: uppercase;
	color: #999;
	margin-bottom: 7px;
	font-family: 'Montserrat', sans-serif;
}

.team-content_name {
	color: #0672d8;
	font-size: 23px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
}

.team-box_mail {
	font-size: 13px;
	line-height: 15px;
	text-transform: uppercase;
	color: #999;
	margin-bottom: 15px;
	font-family: 'Montserrat', sans-serif;
}

.team-box_mail span > a {
	display: table;
	color: #242424;
	font-size: 17px;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	line-height: 23px;
	text-transform: lowercase;
}

.team-box_number {
	font-size: 13px;
	line-height: 15px;
	text-transform: uppercase;
	color: #999;
	margin-bottom: 15px;
	font-family: 'Montserrat', sans-serif;
}

.team-box_number span > a {
	display: table;
	color: #242424;
	font-size: 13px;
	font-weight: 600;
	line-height: 23px;
	font-family: 'Montserrat', sans-serif;
}

.team-box_link {
	transition: .4s ease all;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	color: #ffffff;
	font-size: 15px;
	background-color: #0672d8;
	height: 45px;
	border-radius: 15px;
	font-family: 'Montserrat', sans-serif;
}

.team-box_link:hover {
	color: white;
	font-weight: 300;
	filter: brightness(.8);
}

/* ============ */
.animated-image img {
	width: 72px;
}

.sec-title .subtitle {
	position: relative;
	display: block;
	text-transform: capitalize;
	font-size: 17px;
	color: #178dff;
	font-weight: 300;
	padding-top: 10px;
	font-family: 'Montserrat', sans-serif;
}

/* ============== */
.top-text_link {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	margin-right: 3px;
	color: #fff;
	font-weight: 600;
	transition: .4s ease all;
	padding: 0 0px;
}

.top-text_link:hover {
	font-weight: 700;
	/* font-size: 21px; */
	color: #2b2b2b;
	/* border: 1px solid black; */
}

/* =============== */
.sub-nav__logo img {
	display: none;
}

.sec-title h2 {
	font-family: 'Montserrat', sans-serif;
}

/* ============ */


.animated-image {
	position: relative;
	display: inline-block;
}

.animated-image {
	position: relative;
	display: inline-block;
}

.animated-image span {
	z-index: 1;
	display: block;
	position: absolute;
	inset: 0;
	animation: animatedImage 3s linear infinite;
	background-color: #fff;
	transform-origin: right;
}

@keyframes animatedImage {
	0% {
		transform: scaleX(1);
	}
	50% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(0);
	}
}

.animated-image_footer {
	position: relative;
	display: inline-block;
}

.animated-image_footer span {
	z-index: 1;
	display: block;
	position: absolute;
	inset: 0;
	animation: animatedImageFooter 3s linear infinite;
	background-color: #112047;
	transform-origin: right;
}

@keyframes animatedImageFooter {
	0% {
		transform: scaleX(1);
	}
	50% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(0);
	}
}


/* ============================ */
.for_icon_footer i {
	/* font-size: 45px; */
	color: #178dff;

	/* background-color: #fff; */
}

.for_icon_footer {
	margin-top: 50px;
}

.main-footer .service-block-two .icon-box {
	margin-top: 23px;
}

.main-footer .upper-section {
	padding: 20px 0px 30px;
}

/* ==================== */

.product__status {
	position: absolute;
	top: 20px;
	left: 20px;
	padding: 10px;
	margin-left: 0;
	margin-right: 0;
}
.for_at_img{
	height: 400px;
}
.for_at_img img{
	height: 100%;
	width: 100%;
}
.about-section-four .text-column .text-content p {
    margin-bottom: 15px;
    
    font-size: 14px;
}
.about-section-four .text-column .signature{
	padding-top: 5px;
}