@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;400;500;700;900&display=swap");

/* /* 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;

/* */

.news-block {
  padding-right: 0;
  padding-left: 0;
}

.news-block .inner-box:before {
  bottom: 0px;
}
.news-block .image-box,
.news-block .image,
.news-block .image img {
  /* height: 100%; */
  padding: 10px;
}
.news-block .inner-box:before {
  bottom: 0px !important;
}
.news-block .inner-box {
  padding-bottom: 0px;
}
.news-block .lower-box {
  padding: 0px 27px 10px;
}
.news-block .inner-box {
  padding-bottom: 0px !important;
}
