{% extends 'base.html' %}
{% load i18n static %}


{% block content %}
<section class="services-section-four default-theme">
    <div class="main__content_title">
        <h2 class="main__content_description">Партнеры</h2>
    </div>

      <div class="auto-container">
          <div class="upper-content">
              <!-- <div class="sec-title centered">
                  <h2>A smarter way of solving the challenges</h2>
                  <div class="subtitle">And For Controling Your Energy Production Worldwide</div>
                  <div class="bottom-dots clearfix">
                      <span class="dot line-dot"></span>
                      <span class="dot"></span>
                      <span class="dot"></span>
                      <span class="dot"></span>
                  </div>
              </div> -->
              <div class="text">Наш интернет-магазин является официальным дилером представленных торговых марок. Это означает, что вся продукция действительно фирменная, никакого «серого импорта». На все товары распространяется гарантия производителя, а цены в нашем магазине соответствуют рекомендованным производителем.</div>

          <div class="row clearfix">
              <!--Service Block-->
              <div class="service-block-five col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="2000ms" style="visibility: hidden; animation-duration: 2000ms; animation-delay: 0ms; animation-name: none;">
                  <div class="inner-box">

                      <div class="image-box">
                        <figure class="image">
                            <a href="blog-single.html"><img src="images/clients/1.png" alt=""></a></figure>
                        
                    </div>
                      </div>
                    

                  </div>
                  <div class="service-block-five col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="2000ms" style="visibility: hidden; animation-duration: 2000ms; animation-delay: 0ms; animation-name: none;">
                    <div class="inner-box">

                        <div class="image-box">
                          <figure class="image">
                              <a href="blog-single.html"><img src="images/clients/1.png" alt=""></a></figure>
                          
                      </div>
                        </div>
                      

                    </div>
                    <div class="service-block-five col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="2000ms" style="visibility: hidden; animation-duration: 2000ms; animation-delay: 0ms; animation-name: none;">
                        <div class="inner-box">
  
                            <div class="image-box">
                              <figure class="image">
                                  <a href="blog-single.html"><img src="images/clients/1.png" alt=""></a></figure>
                              
                          </div>
                            </div>
                          
  
                        </div>
                        <div class="service-block-five col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="2000ms" style="visibility: hidden; animation-duration: 2000ms; animation-delay: 0ms; animation-name: none;">
                            <div class="inner-box">
      
                                <div class="image-box">
                                  <figure class="image">
                                      <a href="blog-single.html"><img src="images/clients/1.png" alt=""></a></figure>
                                  
                              </div>
                                </div>
                              
      
                            </div>
                            <div class="service-block-five col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="2000ms" style="visibility: hidden; animation-duration: 2000ms; animation-delay: 0ms; animation-name: none;">
                                <div class="inner-box">
          
                                    <div class="image-box">
                                      <figure class="image">
                                          <a href="blog-single.html"><img src="images/clients/1.png" alt=""></a></figure>
                                      
                                  </div>
                                    </div>
                                  
          
                                </div>
                                <div class="service-block-five col-lg-4 col-md-6 col-sm-12 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="2000ms" style="visibility: hidden; animation-duration: 2000ms; animation-delay: 0ms; animation-name: none;">
                                    <div class="inner-box">
              
                                        <div class="image-box">
                                          <figure class="image">
                                              <a href="blog-single.html"><img src="images/clients/1.png" alt=""></a></figure>
                                          
                                      </div>
                                        </div>
                                      
              
                                    </div>


              </div>

              <!--Service Block-->
              

          </div>

          <div class="bottom-text wow fadeInUp" data-wow-delay="500ms" data-wow-duration="2000ms" style="visibility: hidden; animation-duration: 2000ms; animation-delay: 500ms; animation-name: none;">
              <div class="text">Наша эл. почта:  <a href="">energopribor.@gmail.com</a> <br>Связаться с нами  <span class="phone"><a href="tel:+1-(222)-303-4500">+1 (222) 303 4500</a></span></div>
          </div>

      </div>
  </section>

{% endblock %}